

.Logo-section{
    height: 17vh;
    background-color: #0d0f1b;
    align-items: center;
    display: flex;
}
.Logo-images{
    justify-content: center;
    display: flex;
}
.Logo-images img{
    width: 165px;
    height: auto;
    cursor: pointer;
}