@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: clip;
}
.Home-section{
    height: 100vh;
    background-color: #0d0f1b;
    display: flex;
    align-items: center;
}
.Home-page{
    margin-top: 110px;
}

.heading{
    color: #fff;
}
.heading p{
    color: #b7b8bb;
    font-size: 20px;
}
.heading h2 span{
    color: #50c9e8;
}
.heading h2{
    font-family: 'Roboto', sans-serif;
    font-size: 69px;
    font-weight: 600;

}
.Home-img img{
    width: 590px;
    height: auto;
}
.buttons{
    justify-content: space-between;
}
.startTrail:hover{
    background-color: #4044ee;
}
.startTrail{
    background-color: #6366f1;
    padding: 12px 35px 12px 35px;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
.contact:hover{
    background-color: #fff;
    border: 1px  solid #fff;
    color: #000;
}
.contact{
    background-color: transparent;
    padding: 12px 40px 12px 40px;
    cursor: pointer;
    border: 1px solid #4a4b54;
    border-radius: 6px;
    align-items: center;
    display: flex;
}
.reviewLine span{
    font-weight: bold;
    margin-right: 6px;
}
.reviewLine{
    margin-left: 10px;
}
.Review {
    display: flex;
    color: #fff;
    margin-top: 20px;
}
.Review img{
    width: 105px;
    height: auto;
}

/* Scrollbar effect */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #0d0f1b;
}
::-webkit-scrollbar-thumb {
    background: #50c9e8; 
    border-radius: 10px;
}
 ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

/* Responsiveness Start */

@media screen and (max-width: 1400px) {
    .Home-img img{
        width: 530px;
        height: auto;
    }
    .startTrail{
        padding: 12px 15px;
        width: 160px;
        text-align: center;
    }
    .contact{
        padding: 12px 15px;
        width: 160px;
        text-align: center;
        justify-content: center;
    }
    .heading p {
        font-size: 19px;
    }
}
@media screen and (max-width: 1200px) {
    .Home-img img {
        width: 465px;
        height: auto;
    }
    .heading h2{
        font-size: 55px;
    }
    .heading p {
        font-size: 15px;
    }
    .Home-section {
        height: 700px;
    }
}
@media screen and (max-width: 992px) {
    .Home-img img{
        display: none !important;
    }
    .heading h2 {
        font-size: 61px;
        margin-bottom: 0;
    }
    .heading p {
        font-size: 19px;
        font-weight: 400;
    }
    .Review img {
        width: 70px;
        height: auto;
    }
    .reviewLine {
        margin-left: 8px;
        font-size: 14px;
    }
    .Review{
        margin-top: 20px;
    }
    .Home-section {
        height: 550px;
    }
}
@media screen and (max-width: 767px) {
    .heading h2 {
        font-size: 41px;
        line-height: 44px;
    }
    .Home-section {
        align-items: center;
        height: 475px;
    }
    .heading p {
        font-size: 17px;
        font-weight: 400;
    }

}
@media screen and (max-width: 577px) {
    .heading h2 {
        margin-bottom: 5px;
        font-size: 29px;
        line-height: 31px;
    }
    .heading p {
        font-size: 12px;
        font-weight: 400;
        padding-right: 11px;
    }
    .contact {
        padding: 0px 7px;
        width: 115px;
        height: 37px;
        font-size: 12px;
    }
    .startTrail {
        padding: 0px 7px;
        width: 115px;
        height: 37px;
        font-size: 12px;
        margin-right: 20px;
    }
    .Review img {
        width: 55px;
        height: auto;
    }
    .reviewLine {
        margin-left: 3px;
        font-size: 11px;
    }
    .Review {
        margin-top: 15px;
    }
    .Logo-section {
        padding: 45px 0;
    }
    .secondPage-Heading {
        line-height: 32px;
        font-size: 29px;
    }
    .buttons {
        justify-content: flex-start;
    }
    .Home-section {
        align-items: center;
        height: 400px;
    }
}
@media screen and (max-width: 400px) {
    .Home-section {
        height: 325px;
    }
    .heading h2 {
        margin-bottom: 3px;
        font-size: 24px;
        line-height: 28px;
    }
    .heading p {
        font-size: 9px;
        font-weight: 400;
        padding-right: 8px;
        margin-bottom: 10px;
    }
    .startTrail {
        padding: 0px 5px;
        font-size: 10px;
        margin-right: 13px;
        width: 135px;
    }
    .contact {
        padding: 0px 5px;
        font-size: 10px;
        width: 135px;
        margin-right: 13px;
    }
    .reviewLine {
        font-size: 8px;
    }
    .Review img {
        width: 45px;
        height: auto;
    }
    .Review {
        margin-top: 10px;
    }

}
