@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');


.secondPage-section{
    padding: 50px 0;
    background-color: #0d0f1b;
    align-items: center;
    display: flex;
}
.secondPage-Heading span{
    font-family: 'Exo 2',sans-serif;
}
.secondPage-Heading .span1{
    font-family: 'Exo 2',sans-serif;
    color: #50c9e8;
    
}
.secondPage-Heading{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
}
.point-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
.points{
    color: #b6b7ba;
    font-size: 20px;
}

.points span{
    color: #6366f1;
    font-weight: bold;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.SecondImage img{
    width: 1100px;
    height: auto;
}

/* Responsiveness start */

@media screen and (max-width: 1200px){
    .SecondImage img {
        width: 925px;
        height: auto;
    }
    .SecondImage img {
        width: 770px;
        height: auto;
    }
}
@media screen and (max-width: 992px){
    .SecondImage img{
        display: none !important;
    }
    .secondPage-Heading {
        line-height: 55px;
    }
    .points {
        font-size: 16px;
    }
}
@media screen and (max-width: 767px){
    .secondPage-Heading {
        line-height: 39px;
        font-size: 38px;
    }
    .points {
        font-size: 12px;
    }
    .point-content {
        margin-top: 5px;
    }
    .secondPage-section {
        padding: 30px 0;
    }
}
@media screen and (max-width: 577px){
    .secondPage-Heading {
        line-height: 31px;
        font-size: 25px;
    }
    .points {
        font-size: 8px;
    }
}
@media screen and (max-width: 400px){
    .Logo-section {
        padding: 20px 0;
    }
    .secondPage-section {
        padding: 20px 0;
    }
    .secondPage-Heading {
        line-height: 23px;
        font-size: 19px;
    }
    .points {
        font-size: 6px;
    }
}
